.mainDiv {
  display: flex;
}

.container {
  padding: 40px;
  width: 75%;
  /* border: 1px solid green; */
}

.slick-slide img {
  margin: auto;
  width: 400px;
}

.imgDiv {
  width:50%;
}

.imgDiv:focus {
  outline: thin dotted;
}

.imageNav {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 130px;
}

.thumbNail {
  margin: 2px;
}
