

.modal {
  position: fixed;
  top: 0;
  left: 0;
  color: blue;
  background-color: rgb(225, 208, 208);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}

button {
  border: none;
  --btn-size: 64px;
}
button:hover {
  cursor: pointer;
}

button:focus {
  outline: 1px dashed black;
  outline-offset: .5em;
}

.btn {
  clip-path: circle(45.836% at center);
  background-size: var(--btn-size);
  height: var(--btn-size);
  width: var(--btn-size);
  position: relative;
}

.btn-close {
  background-image: url("../../buttons/cancel-button.svg");
}

.btn-close:focus::before {
  content: '';
  display: block;
  position: absolute;
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  border-radius: 50%;
  border: 3px dashed #FFF;
}

.btn-arrow {
  background-image: url("../../buttons/arrow.svg");
}

.btn-arrow-left {
  transform: scaleX(-1);
}

.btn-arrow:focus {
  outline: none;
}
v
.btn-arrow:focus::before {
  content: '';
  display: block;
  position: absolute;
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  border-radius: 50%;
  border: 3px dashed #000;
}

.img-main {
  width: 700px;
  height: 700px;
}

.img-bottom-nav {
  display: flex;
}

.img-bottom-thumb {
  /* display: inline-block; */
  flex-direction: row;
  width: 64px;
  height: 64px;
  opacity: 0.5;
}
.thumb-selected {
  opacity: 1;
}


